@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Dela+Gothic+One&family=Poppins:wght@700;800;900&display=swap');

body{

    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
color: white;
font-family: 'Belanosima', sans-serif; 
font-family: 'Dela Gothic One', sans-serif;
font-family: 'Poppins', sans-serif;

}



.painel{
    margin: auto;
    margin-left: 230px;
    margin-top: 70px;
    background-color: rgb(101, 215, 243);
    width: 350px;
    height: 500px;
    border-radius: 25px;
    text-align: center;
    padding-top: 50px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /* X, Y, Raio, Cor da Sombra */
}

.h2{
color: aliceblue;
font-size: 100px;
font-weight: bolder;

}


h4{
    text-align: left;
    margin-left: 50px;
    color: rgb(255, 255, 255);
   }
.painel-2{
    margin: auto;
    margin-left: 280px;
    margin-top: 100px;
    background-color: rgb(253, 253, 253);
    width: 1000px;
    height: 500px;
    border-radius: 25px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(101, 215, 243);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /* X, Y, Raio, Cor da Sombra */

}
#titulo{
    color: rgba(128, 128, 128, 0.685);
}



  



.meu-botao{
    color: aliceblue;
    background-color: rgb(14, 145, 197);
    border-color: aliceblue;
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
    height: 50px;
    width:170px;
    font-size: medium;
    font-weight: 700;


}

#nome{
width:460px ;
height: 45px;
margin-top: 7px;
background-color: rgba(128, 128, 128, 0.096);
border: none;
border-radius: 3px;


}

.meu-botao-2{
    color: rgb(255, 240, 240);
     background-color: rgb(14, 139, 197);
     border-color: aliceblue;
     border-radius: 25px;
     border-style: solid;
     border-width: 3px;
     border-color: rgba(147, 241, 253, 0.034);   
     height: 50px;
     width:170px;
     margin-left:625px;
     margin-top: 40px;
     font-weight: bolder;
}

#emaill{
    margin-top: 50px;
    height: 30px;
    width: 300px;
    border-radius: 10px;
    
}


#senhaa{
    
    height: 30px;
    width: 300px;
    border-radius: 10px;
    margin-left: 313px;
    margin-top: -250px;

}


.meu-botao{
    margin-left: 700px;
    color: rgb(255, 240, 240);
    background-color: rgb(14, 139, 197);
    border-color: aliceblue;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(147, 241, 253, 0.034);   
    height: 50px;
    width:170px;
    margin-top: 40px;
    font-weight: bolder;

}
